.bid-selection-header-wrapper {
  min-height: 50px;
}

.bid-selection-header {
  /* height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0; */
  /* padding-top: 10px; */
}

.bid-selection-header > a {
  z-index: 100;
}

.bid-selection-header__label {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10px;
}

/* .bid-selection-header__back-button {
  margin-left: 10px;
  padding: 10px;
  position: relative;
} */

/*
  .back-button {
    position: absolute;
    top: 10px;
    left: 15px;
  }
*/

.bid-selection-header__sort-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.sort-options {
  position: relative;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 2px 10px 0 #c4c8fa;
  height: 0;
  transition: all 0.5s ease-in-out;
  overflow-y: hidden;
  z-index: 200;
}

.sort-options--expand {
  height: 190px;
}

.sort-options__close-button {
  position: absolute;
  top: 10px;
  right: 19px;
}

.sort-options__header {
  padding: 20px 0 15px 0;
}

.sort-options__list {
  /* padding-bottom: 15px; */
}

.sort-options__list > li {
  padding: 7px 0 7px 0;
  font-size: 13px;
}

.sort-options__list > li::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.sort-options__list > li > img {
  margin: 0 -30px 0 10px;
  /* height: 10px;
  width: 10px; */
}

.sort-options__list--selected {
  font-weight: bold;
}

.sort-options__checkmark--hide {
  visibility: hidden;
}
