div#main-screen {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Interactive components */
div#user-controls, a.order-button {
  pointer-events: all;
}

div#header {
  margin: 15px 0;
  position: relative;
}

div#logo {
  margin: auto;
  width: 116px;
}

div#logo img {
  width: 116px;
  height: 46px;
}

span.logo-subtext {
  text-align: center;
  display: block;
}

div#user-controls {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 15px;
  top: 15px;
}

a.order-button {
  margin: 0 auto 20px;
}

/* */

.profile {
  position: absolute;
  top: 2px;
  right: 16px;
}

.user-location {
  margin-top: auto;
  padding: 16px;
}

.user-location h3 {
  font-size: 18px;
  font-weight: 300;
}

.user-location p {
  font-size: 14px;
  font-weight: 500;
  color: #807B9C;
}
