div#main-screen {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Interactive components */
div#user-controls, a.order-button {
  pointer-events: all;
}

div#header {
  margin: 15px auto 0;
}

div#logo {
  margin: 15px auto 0;
  width: 116px;
}

div#logo img {
  width: 116px;
  height: 46px;
}

span.logo-subtext {
  text-align: center;
}

div#user-controls {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 15px;
  top: 15px;
}

a.order-button {
  margin: 0 auto 10px;
}
