#radar {
  position: absolute;
  top: calc(50% - 185px);
  left: calc(50vw - 185px);
  width: 370px;
  height: 370px;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.7, 0.3, 0.3, 0.7);
  z-index: -1;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#searching-screen.screen--stage-choosing {
  overflow: scroll;
}

#searching-screen h1 {
  font-size: 15px;
  font-weight: 500;
  max-width: 160px;
  margin: 35px auto 10px;
}

#searching-screen .vehicle-card {
  grid-template-columns: 50px 1fr;
}

#searching-screen .vehicle-card img {
  width: 38px;
  height: 38px;
}

#searching-screen .cancel-button {
  display: block;
  margin: 20px auto 10px;
  width: 60px;
  text-align: center;
}

.vehicle-bid-card {
  border-radius: 7px 7px;
  background-color: white;
  z-index: 20;
  padding: 15px 15px;
  margin: 10px 10px;
  width: calc(100vw - 20px);
  box-shadow: 0 2px 10px 0 #c4c8fa;
  transition: all ease-out .4s;
}

.vehicle-bid-card:nth-child(2) { transition-delay: 50ms; }
.vehicle-bid-card:nth-child(3) { transition-delay: 100ms; }
.vehicle-bid-card:nth-child(4) { transition-delay: 150ms; }
.vehicle-bid-card:nth-child(5) { transition-delay: 200ms; }
.vehicle-bid-card:nth-child(6) { transition-delay: 250ms; }
.vehicle-bid-card:nth-child(7) { transition-delay: 300ms; }
.vehicle-bid-card:nth-child(8) { transition-delay: 350ms; }
.vehicle-bid-card:nth-child(9) { transition-delay: 400ms; }
.vehicle-bid-card:nth-child(10) { transition-delay: 450ms; }

.vehicle-bid-card--hidden {
  transform: translateY(120vh);
}

.vehicle-bid-card .vehicle-card h2 {
  font-size: 17px;
}
.vehicle-bid-card .vehicle-card div.rating {
  font-size: 13px;
}

.vehicle-bid-card--small {
  bottom: 0;
  position: absolute;
}

.vehicle-bid-card--small:nth-child(1) {
  z-index: 50;
}
.vehicle-bid-card--small:nth-child(2) {
  z-index: 49;
  bottom: 9px;
  transform: scale(0.96);
  background-color: #fafafa;
}
.vehicle-bid-card--small:nth-child(3) {
  z-index: 48;
  bottom: 17px;
  transform: scale(0.92);
  background-color: #f6f6f6;
}
.vehicle-bid-card--small:nth-child(4) {
  z-index: 47;
  bottom: 24px;
  transform: scale(0.88);
  background-color: #f3f3f3;
}
.vehicle-bid-card--small:nth-child(5) {
  z-index: 46;
  bottom: 30px;
  transform: scale(0.83);
  background-color: #f0f0f0;
}
.vehicle-bid-card--small:nth-child(n+6) {
  z-index: 45;
  bottom: 10px;
  transform: scale(0.70);
}

#searching-screen .choose-bid-button {
  float: right;
  padding: 9px 16px;
}

dl.bid-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  margin-top: 7px;
  font-size: 13px;
}
.bid-details dt {
  font-weight: 300;
}
.bid-details dd {
  text-align: right;
  font-weight: 500;
}

#searching-screen .screen-background--dark {
  z-index: -1;
  transition: all ease-in-out .4s;
  background-color: rgba(0, 0, 0, 0);
}

#searching-screen.screen--stage-signing .screen-background--dark {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}

#signing-box {
  text-align: center;
}
#signing-box>h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

#signing-box>p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

#signing-box .vehicle-vitals h2 {
  font-size: 14px;
}
#signing-box .vehicle-vitals {
  font-weight: 300;
  font-size: 11px;
  color: #383061;
}
#signing-box img.user-icon {
  width: 31px;
  height: 31px;
}

#signing-box #sign-here {
  background: url('/images/and-connector.svg') 1px 0 no-repeat;
  height: 105px;
}
#signing-box #sign-here img {
  margin-top: 11px;
}
