#radar {
  position: absolute;
  top: calc(50% - 185px);
  left: calc(50vw - 185px);
  width: 370px;
  height: 370px;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.7, 0.3, 0.3, 0.7);
  z-index: -1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bid-selection.screen--stage-choosing {
  overflow: scroll;
}

#bid-selection h1 {
  font-size: 15px;
  font-weight: 500;
  max-width: 160px;
  margin: 35px auto 10px;
}

#bid-selection .vehicle-card {
  grid-template-columns: 50px 1fr;
}

#bid-selection .vehicle-card img {
  width: 38px;
  height: 38px;
}

#bid-selection .cancel-button {
  display: block;
  margin: 20px auto 10px;
  width: 60px;
  text-align: center;
}

.vehicle-bid-card {
  border-radius: 7px 7px;
  background-color: white;
  z-index: 20;
  padding: 15px 15px;
  margin: 10px 10px;
  width: calc(100vw - 20px);
  box-shadow: 0 2px 10px 0 #c4c8fa;
  transition: all ease-out 0.4s;
}

.vehicle-bid-card:nth-child(2) {
  transition-delay: 50ms;
}
.vehicle-bid-card:nth-child(3) {
  transition-delay: 100ms;
}
.vehicle-bid-card:nth-child(4) {
  transition-delay: 150ms;
}
.vehicle-bid-card:nth-child(5) {
  transition-delay: 200ms;
}
.vehicle-bid-card:nth-child(6) {
  transition-delay: 250ms;
}
.vehicle-bid-card:nth-child(7) {
  transition-delay: 300ms;
}
.vehicle-bid-card:nth-child(8) {
  transition-delay: 350ms;
}
.vehicle-bid-card:nth-child(9) {
  transition-delay: 400ms;
}
.vehicle-bid-card:nth-child(10) {
  transition-delay: 450ms;
}

.vehicle-bid-card--hidden {
  transform: translateY(120vh);
}

.vehicle-bid-card .vehicle-card h2 {
  font-size: 17px;
}

.vehicle-bid-card--small {
  bottom: 0;
  position: absolute;
}

.vehicle-bid-card--small:nth-child(1) {
  z-index: 50;
}
.vehicle-bid-card--small:nth-child(2) {
  z-index: 49;
  bottom: 9px;
  transform: scale(0.96);
  background-color: #fafafa;
}
.vehicle-bid-card--small:nth-child(3) {
  z-index: 48;
  bottom: 17px;
  transform: scale(0.92);
  background-color: #f6f6f6;
}
.vehicle-bid-card--small:nth-child(4) {
  z-index: 47;
  bottom: 24px;
  transform: scale(0.88);
  background-color: #f3f3f3;
}
.vehicle-bid-card--small:nth-child(5) {
  z-index: 46;
  bottom: 30px;
  transform: scale(0.83);
  background-color: #f0f0f0;
}
.vehicle-bid-card--small:nth-child(n + 6) {
  z-index: 45;
  bottom: 10px;
  transform: scale(0.7);
}

#bid-selection .choose-bid-button {
  float: right;
  padding: 9px 16px;
}

dl.bid-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  margin-top: 7px;
  font-size: 13px;
}
.bid-details dt {
  font-weight: 300;
}
.bid-details dd {
  text-align: right;
  font-weight: 500;
}

#bid-selection .screen-background--dark {
  z-index: -1;
  transition: all ease-in-out 0.4s;
  background-color: rgba(0, 0, 0, 0);
}

#bid-selection.screen--stage-signing .screen-background--dark {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}

#signing-box {
  text-align: center;
}
#signing-box > h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

#signing-box > p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

#signing-box .vehicle-vitals h2 {
  font-size: 14px;
}
#signing-box .vehicle-vitals {
  font-weight: 300;
  font-size: 11px;
  color: #383061;
}
#signing-box img.user-icon {
  width: 31px;
  height: 31px;
}

#signing-box #sign-here {
  background: url('/images/and-connector.svg') 1px 0 no-repeat;
  height: 105px;
}
#signing-box #sign-here img {
  margin-top: 11px;
}

/*****************************

SearchingScreenHeader styles

****************************/

.bid-selection-header-wrapper {
  min-height: 60px;
}

.bid-selection-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.bid-selection-header__back-button {
  margin-left: 10px;
  padding: 10px;
}

.bid-selection-header__title {
}

.bid-selection-header__sort-button {
  margin-right: 10px;
  padding: 10px;
}

.sort-options {
  position: relative;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 2px 10px 0 #c4c8fa;
  height: 0;
  transition: all 0.5s ease-in-out;
  overflow-y: hidden;
  z-index: 100;
}

.sort-options--expand {
  height: 180px;
}

.sort-options__close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px 13px 0 0;
}

.sort-options__header {
  padding: 20px 0 15px 0;
}

.sort-options__list {
  /* padding-bottom: 15px; */
}

.sort-options__list > li {
  margin: 0 0 10px 0;
  font-size: 13px;
}
