.vehicle-details {
  max-width: 330px;
  font-weight: 300;
  font-size: 11px;
  color: #807B9C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "vehicle-card vehicle-card"
    "mission-count mission-count-7";
  grid-row-gap: 7px;
}

.vehicle-details strong{
  font-weight: 500;
}

.vehicle-missions-count {
  grid-area: mission-count;
}

.vehicle-missions-count-7 {
  border-left: 1px solid #D8D8D8;
  padding-left: 20px;
  grid-area: mission-count-7;
}
