* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #383061;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.screen-background--dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

/* Modal */
.modal-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-box {
  border-radius: 7px 7px;
  background-color: white;
  z-index: 20;
  padding: 20px 20px;
  margin: 10px 10px;
  position: relative;
}

.modal-close-button {
  color: #807B9C;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 9px;
}

/* Alert Modal */
.alert-box {
  padding-bottom: 60px;
}

.alert-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
}

.alert-button-cancel,
.alert-button-confirm {
  width: 50%;
  border: 0;
  border-radius: 0;
  border-top: 1px solid #F6F7F9;

  background-color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

.alert-button-cancel {
  border-right: 1px solid #F6F7F9;
  border-bottom-left-radius: 5px;
  color: #8E8AA7;
}

.alert-button-confirm {
  border-bottom-right-radius: 5px;
  color: #2BCA81;
}

.big-button {
  border-radius: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  background-color: #2BCA81;
  padding: 20px 20px;
}

.disabled-button {
  border-radius: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  background-color: #d8ffed;
  pointer-events: none;
  padding: 20px 20px;
}

.med-button {
  border-radius: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  background-color: #2BCA81;
  padding: 6px 8px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 15px;
}

.cancel-button {
  background-color: transparent;
  color: #807B9C;
  border: 1px solid #807B9C;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

input, select {
  border-radius: 5px 5px;
  border: 1px solid #B8BCFF;
  padding: 8px 10px;
  display: block;
  width: 100%;
  color: #807B9C;
  font-weight: 300;
  font-size: 15px;
}

.vehicle-card {
  text-align: left;
  grid-area: vehicle-card;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-areas:
    "vehicle-icon vehicle-vitals"
}
.vehicle-vitals {
  grid-area: vehicle-vitals;
  overflow: hidden;
}
.vehicle-vitals .dav-uid {
  font-size: 9px;
}
.vehicle-bid-card--small .vehicle-vitals .dav-uid {
  font-size: 12px;
}
.vehicle-card img {
  grid-area: vehicle-icon;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

img.currency-symbol {
  height: 13px;
  margin-bottom: -4px;
  margin-left: 3px;
}
