* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #383061;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.screen-background--dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-box {
  border-radius: 7px 7px 7px 7px;
  background-color: white;
  z-index: 20;
  padding: 20px 20px;
  margin: 10px 10px;
}

.big-button {
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  background-color: #2BCA81;
  padding: 20px 20px;
}
